.logo-img {
    width: 300px;
    
}


.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basketball-court {
    display: flex;
    justify-content: center;
}


.basketball-court canvas {
    margin-top: 50px;
    border: 5px solid red;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-win {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-intro, .game-play, .game-over, .game-win {
    display: none;
}

.show {
    display: flex;
}