@font-face {
    font-family: 'Early GameBoy';
    src: url('../fonts/Early-GameBoy.woff2') format('woff2'),
        url('../fonts/Early-GameBoy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Early GameBoy';
    margin: 0;
} 

.page-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-area {
    background-image: url(../assets/page-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 762px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 65px 81px 65px 84px;
    box-sizing: border-box;
}


.game-area img {
    max-width: 100%;
    
}

.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basketball-court {
    display: flex;
    justify-content: center;
}


.basketball-court canvas {
    border: 1px solid black;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-win {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-intro, .game-play, .game-over, .game-win {
    display: none;
}

.show {
    display: flex;
}