@font-face {
    font-family: 'Early GameBoy';
    src: url('../fonts/Early-GameBoy.woff2') format('woff2'),
        url('../fonts/Early-GameBoy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Early GameBoy';
    margin: 0;
    background-color: #f2b991;
} 

h1 {
    font-size: 1rem;
    color: #222c6a;
    text-align: center;
    
}

img {
    max-width: 100%;
}

.btn-start {
    position: absolute;
    background-color: transparent;
    top: 665px;
    left: 240px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    
}

.btn-select {
    position: absolute;
    background-color: transparent;
    top: 665px;
    left: 155px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
}

.btn-up {
    position: absolute;
    background-color: transparent;
    top: 445px;
    left: 80px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
}

.btn-down {
    position: absolute;
    background-color: transparent;
    top: 520px;
    left: 80px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
}

.btn-left {
    position: absolute;
    background-color: transparent;
    top: 480px;
    left: 40px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
}

.btn-right {
    position: absolute;
    background-color: transparent;
    top: 480px;
    left: 120px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
}

.btn-a {
    position: absolute;
    background-color: transparent;
    top: 455px;
    left: 340px;
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    
}

.logo-img {
    width: 150px;
}

.button {
    font-family: 'Early GameBoy';
    font-size: 0.75rem;
    color: #df1e36;
    border: none;
    background: none;
    transition: color 0.2s ease 0.2s;
}

.button:hover {
    color: #222c6a;
}

.page-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-area {
    background-image: url(../assets/page-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 762px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 65px 81px 65px 84px;
    box-sizing: border-box;
    position: relative;
}

.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-intro .logo-img {
    margin-top: 10px;
    margin-bottom: 25px;
}

.basketball-court {
    display: flex;
    justify-content: center;
}


.basketball-court canvas {
    border: 1px solid black;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over h1 {
    font-size: 2rem;
    margin-top: 75px;

}

.game-win {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-win h1 {
    font-size: 0.85rem;
    margin-top: 20px;
}

.game-win .logo-img {
    margin-top: 15px;
}

.game-win h2 {
    font-size: 0.65rem;
    color: #222c6a;
    text-align: center;
    margin-top: 15px;
}

.game-intro, .game-play, .game-over, .game-win {
    display: none;
}

.show {
    display: flex;
}